<?xml version="1.0" encoding="utf-8"?>
<module>
	<permissions />
	<actions>
		<action name="dispSupercacheAdminConfigPagingCache" type="view" admin_index="true" menu_name="supercache" />
		<action name="procSupercacheAdminInsertPagingCache" type="controller" />
	</actions>
	<menus>
		<menu name="supercache" type="all">
			<title xml:lang="ko">슈퍼 캐시</title>
			<title xml:lang="en">Super Cache</title>
		</menu>
	</menus>
</module>
