
div.supercache_help {
	clear: both;
	padding: 12px;
	box-sizing: border-box;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 4px;
}

input.console_font, span.console_font {
	font-family: Consolas, Courier New, Courier, monospace !important;
}

span.console_font {
	display: inline-block;
	margin: 0 2px;
	color: #0088cc;
	cursor: pointer;
}
span.console_font:hover {
	color: #005580;
	text-decoration: underline;
}

input.full_width {
	width: 100% !important;
	height: 28px !important;
	box-sizing: border-box;
}

label.supported {
	cursor: text !important;
	color: #090;
}

label.unsupported {
	cursor: text !important;
	color: #f00;
}

label.checkbox_wrapper {
	padding: 5px 0 0px 0 !important;
}

p.more_margin {
	margin-top: 8px !important;
}

ul.inside_help_block {
	
}
	
ul.inside_help_block li {
	color: #595959 !important;
	margin-top: 8px !important;
}