
div.supercache_help {
	clear: both;
	padding: 12px;
	box-sizing: border-box;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 2px;
}

label.supported {
	font-weight: bold !important;
	cursor: text !important;
	color: #090;
}

label.unsupported {
	font-weight: bold !important;
	cursor: text !important;
	color: #f00;
}

label.checkbox_wrapper {
	padding: 5px 0 0px 0 !important;
}

p.more_margin {
	margin-top: 8px !important;
}
