
div.supercache_help {
	clear: both;
	padding: 12px;
	box-sizing: border-box;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 4px;
}

div.supercache_help ul {
	margin-bottom: 0;
}

section div.supercache_help {
	margin-top: 20px;
}

input.console_font, span.console_font, textarea.console_font {
	font-family: Consolas, Courier New, Courier, monospace !important;
}

section h2 {
	padding-bottom: 8px;
}

span.important_block {
	display: inline-block;
	color: #2196F3;
	font-size: 16px;
	line-height: 16px;
	margin-right: 4px;
	position: relative;
	top: 1px;
}

span.caution_block {
	display: inline-block;
	background: #FFA000;
	color: #fff;
	font-weight: bold;
	line-height: 16px;
	padding: 0 4px 1px 4px;
	border-radius: 2px;
}

span.warning_block {
	display: inline-block;
	background: #e00;
	color: #fff;
	font-weight: bold;
	line-height: 16px;
	padding: 0 4px 1px 4px;
	border-radius: 2px;
}

span.console_font {
	display: inline-block;
	margin: 0 2px;
}

span.console_font.link {
	color: #0088cc;
	cursor: pointer;
}

span.console_font.link:hover {
	color: #005580;
	text-decoration: underline;
}

span.is_disabled {
	color: #999;
}

span.mid {
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin-left: -12px;
}

span.warning {
	color: #e00;
}

input.full_width {
	width: 100% !important;
	height: 28px !important;
	box-sizing: border-box;
}

textarea.full_width {
	width: 100% !important;
	box-sizing: border-box;
}

label.supported {
	cursor: text !important;
	color: #090;
}

label.unsupported {
	cursor: text !important;
	color: #e00;
}

label.checkbox_wrapper {
	padding: 5px 0 0px 0 !important;
}

p.more_margin {
	margin-top: 8px !important;
}

ul.inside_help_block {
	
}
	
ul.inside_help_block li {
	color: #595959 !important;
	margin-top: 8px !important;
}

tr.disabled_widget td {
	color: #999 !important;
}

tr.disabled_widget td label {
	color: #999 !important;
}
